<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HardwareTemperature.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <applicationSettings>
        <HardwareTemperature.Properties.Settings>
            <setting name="Executable" serializeAs="String">
                <value>C:\Program Files\Etherminer\Ethminer.exe</value>
            </setting>
            <setting name="CommandLine" serializeAs="String">
                <value>-P stratum1+ssl://0x0d694f0fcd52abfbfde7d42d0b0d97ee891fa269.SoMoS@eu1.ethermine.org:5555 -v 9</value>
            </setting>
            <setting name="MinimumTemperature" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="MonitorIntervalInSeconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TimeoutWaitingTemperatureInSeconds" serializeAs="String">
                <value>15</value>
            </setting>
        </HardwareTemperature.Properties.Settings>
    </applicationSettings>
</configuration>